body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'skrip';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/blue-splash.png);
}

/* Header styles */
header {
    background-color: black;
    color: #fff;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.toggle-btn {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.toggle-btn {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0062ff;
}

/* Video container styles */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    overflow: hidden;
}

/* Video styles */
video {
    width: 75%;
    height: 75%;
}

/* Content styles */
#content {
    text-align: center;
    margin: 20px;
    flex-grow: 1;
}

/* Footer styles */
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Untuk tombol pesan */
.pesan-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.pesan-btn:hover {
    background-color: #45a049;
}

/* Product card styles */
.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25%;
    height: 25%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    margin: 10px 10px;
    background-color: #ddd;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 75%;
    border-bottom: 1px solid #ddd;
}

.card h3, .card p, .card .price {
    padding: 10px;
    margin: 0;
}

.card h3 {
    font-size: 1.2em;
    color: #333;
}

.card p {
    color: #555;
}

.price {
    font-weight: bold;
    color: #ff0000;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.popup-content p {
    margin-bottom: 15px;
}

.popup-content .price {
    font-weight: bold;
    color: #007bff;
}

.popup-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.popup-content button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 1px;
    }

    .toggle-btn {
        display: block;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        background-color: #282c35;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
    #content {
        margin: 10px;
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card {
        width: 100%;
    }
}

#content {
    text-align: center; /* Mengubah penempatan tulisan "Daftar Produk" ke tengah */
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Mengubah penempatan card produk ke tengah */
}

.card {
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.card h3, .card p, .card .price {
    padding: 10px;
    margin: 0;
}

.card h3 {
    font-size: 1.2em;
    color: #333;
}

.card p {
    color: #555;
}

.price {
    font-weight: bold;
    color: #007bff;
}

.detail-btn {
    background-color: #00ffff;
    color: white;
    border: none;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.detail-btn:hover {
    background-color: #00ffff;
}

/* Styling tambahan untuk halaman profil perusahaan */
#content {
    text-align: center;
    margin: 10px 10px;
}

.company-profile {
    max-width: 600px;
    margin: 0 auto;
}

.company-profile img {
    width: 150px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.company-profile p {
    text-align: left;
    line-height: 1.6;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .company-profile {
        padding: 0 20px;
    }
}

h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'skript';
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h2{
    color: #000;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'skript';
}

#content h2 {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Styling tambahan untuk halaman profil perusahaan */
.company-content {
    text-align: center;
}

.company-header {
    position: relative;
    overflow: hidden;
}

.company-header img {
    width: 100%;
    height: auto;
}

.company-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.company-title img {
    max-width: 100px;
    height: auto;
}

.company-title h2 {
    color: #fff;
    margin-top: 10px;
}

.company-profile {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.company-profile p {
    text-align: left;
    line-height: 1.6;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .company-title h2 {
        font-size: 1.5em;
    }
}

.community-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.community-card {
    width: 200px;
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(0, 38, 252);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.community-card img {
    width: 100px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.community-btn {
    background-color: #0051ff; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.community-btn:hover {
    background-color: #00fff2; /* Darker green on hover */
}